@media screen and (max-width:1144px) {
    .header_search {
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        width: auto;
        background-color: white;
        margin-right: -10px;

    }
    nav{
        justify-content: center;
    }
    .news{
        display: none;
    }
    .filter{
        display: none;
    }

}



@media screen and (max-width:870px) {
.header_nav_name,.header_search_name{
    display: none;
}
.active{
    color: black;
    border-bottom: none;
}



}
@media screen and (max-width:670px) {
article{
    order:1;
    margin:20px auto;
}
#side1{
    order:2;
    margin:0px auto;
    min-width: 350px;

}
main{
    flex-direction: column;
    margin-top: 40px;
}
}


@media screen and (max-width:500px) {
header nav ul li:nth-last-child(-n+4),.vl{
    display: none;
}

}
